# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Media and Temporary Files
temp_audio_*.wav
aulas/**/*.ass
aulas/**/*.srt
# aulas/**/*.mp4  # Descomente se quiser ignorar vídeos originais

# IDEs
.vscode/
.idea/
